@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --generic-template-background: #f2f2f2;
  --logo-width: 200px;
  --top-wrapper-space: 0;
  --primary-template-background: #04194c;
  --light-template-background: #fff;
  --accordion-background-active: #2f84ed;
}
a#yotpo-widget-btn {
    text-decoration: none;
}

.accordion-item{

  background:#F8F8FA;
}
#yotpo-reviews-main-widget[class*="yotpo-display-"][class*="yotpo-device-"] div#yotpo-reviews-container{display:none;}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  image-rendering: -webkit-optimize-contrast;
  scroll-behavior: smooth;
}

body {
  background-color: var(--generic-template-background) !important;
}

.template-header {
  background: var(--generic-template-background);
  height: 15vh;
  display: flex;
  align-items: end;
  justify-content: center;
  flex-flow: column wrap;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-template-background);
  align-self: center;
}

.logo h2 {
  margin: 0 0 0 11px;
  font-size: 18px;
  color: #000;
}

.logo img {
  width: var(--logo-width);
  height:auto;
}

.wrapper {
  max-width: 100%;
  width: 100%;
  padding: var(--top-wrapper-space) 30px 10px;
  margin: 0 auto;
  min-height: 75vh;
}

#accordionExample {
  background: var(--light-template-background);
  position: relative;
  margin: 0 auto 20px;
  border-radius: 7px;
  padding: 0;
  border: var(--bs-accordion-border-width) solid
    var(--bs-accordion-border-color);
}

.widget-holder .widget-title {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.widget-holder .widget-title h4 {
  margin: 0;
}

.yotpo-display-l .yotpo-base-layout {
  width: 90% !important;
}

#star-rating .yotpo-reviews-star-ratings-widget {
  justify-content: center !important;
}

#yotpo-vugc-preview-mode-layout,
.yotpo-reviews-carousel-preview-mode-layout,
.yotpo-pp-preview-mode-layout {
  height: auto !important;
}

#accordionExample .accordion-button:not(.collapsed) {
  background: var(--accordion-background-active);
  color: var(--light-template-background);
}

.footer-template {
  background: var(--primary-template-background);
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #d9d9df;
}

.footer-template .footer-logo {
  color: var(--light-template-background);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.footer-logo img {
  width: 35px;
}

.footer-logo h2 {
  font-size: 18px;
  margin: 0 0 0 9px;
}

.cliboard-holder {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border: 2px dashed var(--primary-template-background);
  margin: 0 clamp(10px, 4vw, 50px) clamp(10px, 4vw, 50px);
  padding: 30px 20px 20px;
  background: #f6f6ff;
}

.cliboard-holder .clipboard-details {
  width: clamp(300px, 45%, 600px);
  margin: 0 10px 20px;
}

.clipboard-details {
  display: flex;
  flex-flow: column wrap;
}

.cliboard-holder h2 {
  font-size: 20px;
  width: 100%;
  text-align: center;
  margin-bottom: 23px;
}

.clipboard-details h3 {
  font-size: 16px;
  flex-grow: 1;
}

.clipboard-details p {
  font-size: 12px;
}

.clipboard-details textarea {
  resize: none;
  height: 100px;
  padding: 0 10px;
  font-size: 12px;
  text-align: left;
  margin-bottom: 14px;
}

.rating-holder {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.rating-holder section {
  width: clamp(300px, 45%, 600px);
  margin: 0 10px 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-items: center;
  background-color: var(--secondary-template-background);
  padding: 20px;
  border-radius: 20px;
}

.rating-holder section h1 {
  font-size: 20px;
  flex-grow: 1;
  margin-bottom: 20px;
}

.yotpo-widget-clear .yotpo-reviews-tab-layout-preview {
  height: auto;
}

.accordion-button,
.cliboard-holder * {
  font-family: "Roboto", sans-serif;
}


:root{
    --color-brand-black: #000;
    
}

div#yotpo-reviews-main-widget[class*="yotpo-display-"][class*="yotpo-device-"] {}

div#yotpo-reviews-main-widget[class*="yotpo-display-"][class*="yotpo-device-"] .yotpo-head {
    display: none;
}

div#yotpo-reviews-main-widget[class*="yotpo-display-"][class*="yotpo-device-"] .yotpo-layout-header-wrapper:before {
    content: "Reviews";
    order: 1;
      padding-bottom: 65px;
    font-family: "freight-display-pro", serif !important;
    font-weight: 300;
    font-size: 30px;
}

div#yotpo-reviews-main-widget[class*="yotpo-display-"][class*="yotpo-device-"] .yotpo-layout-header-wrapper {
    flex-direction: column;
    align-items: flex-start;gap: 20px;
}

div#yotpo-reviews-main-widget[class*="yotpo-display-"][class*="yotpo-device-"] .yotpo-layout-header-wrapper .yotpo-bottom-line {
    order: 3;
    flex-direction: column;
    width: 100%;
}

div#yotpo-reviews-main-widget[class*="yotpo-display-"][class*="yotpo-device-"] .yotpo-layout-header-wrapper .yotpo-new-review-btn-wrapper {
    order: 2;
}

div#yotpo-reviews-main-widget[class*="yotpo-display-"][class*="yotpo-device-"] .yotpo-layout-header-wrapper .yotpo-bottom-line .yotpo-summary-section {}

div#yotpo-reviews-main-widget[class*="yotpo-display-"][class*="yotpo-device-"] .yotpo-layout-header-wrapper .yotpo-bottom-line .yotpo-vertical-border {}

div#yotpo-reviews-main-widget[class*="yotpo-display-"][class*="yotpo-device-"] .yotpo-layout-header-wrapper .yotpo-bottom-line .yotpo-star-distribution {}

div#yotpo-reviews-main-widget[class*="yotpo-display-"][class*="yotpo-device-"] .yotpo-layout-header-wrapper .yotpo-bottom-line .yotpo-bottom-line-question-wrapper-vertical {border: 0 !important;margin-block-end: 0;padding: 0;width: 100%;}
@media(min-width: 64em){
div#yotpo-reviews-main-widget[class*="yotpo-display-"][class*="yotpo-device-"] .yotpo-layout-header-wrapper .yotpo-bottom-line .yotpo-bottom-line-question-wrapper-vertical .yotpo-review-question-wrapper {   max-width:350px;}}

div#yotpo-reviews-main-widget[class*="yotpo-display-"][class*="yotpo-device-"] .yotpo-layout-header-wrapper .yotpo-bottom-line .yotpo-bottom-line-question-wrapper-vertical .yotpo-custom-questions-range-question.yotpo-review-range-question-top {
    gap: 40px;
}

div#yotpo-reviews-main-widget[class*="yotpo-display-"][class*="yotpo-device-"] .yotpo-layout-header-wrapper .yotpo-bottom-line .yotpo-bottom-line-question-wrapper-vertical .yotpo-custom-questions-range-question.yotpo-review-range-question-top .yotpo-custom-questions-range-question-wrapper {

    gap: 0;
    margin: 0;
}
#yotpo-reviews-main-widget .yotpo-bottom-line-question-wrapper-vertical  .yotpo-progress-bar {
    background-color: var(--color-brand-black);
    border-radius: 0;
    display: flex;
    height: 1px;
    margin-block-end:10px;margin-block-start:10px;margin-inline:0;position: relative
}

#yotpo-reviews-main-widget .yotpo-bottom-line-question-wrapper-vertical  .yotpo-progress-bar-wrapper:not(:has(.yotpo-progress-bar-value-point)) .yotpo-progress-bar-score {
    background-color: var(--color-brand-black)!important;
    border-radius: 50%;
    bottom: 0;
    height: 15px;
    margin-block:auto;position: absolute;
    top: 0;
    width: 15px!important
}

#yotpo-reviews-main-widget .yotpo-bottom-line-question-wrapper-vertical .yotpo-progress-bar:after,#yotpo-reviews-main-widget .yotpo-bottom-line-question-wrapper-vertical .yotpo-progress-bar:before {
    background-color: var(--color-brand-black);
    bottom: 0;
    content: '';
    height: 15px;
    margin-block:auto;position: absolute;
    top: 0;
    width: 1px
}

#yotpo-reviews-main-widget .yotpo-bottom-line-question-wrapper-vertical  .yotpo-progress-bar:after {
    right: 0
}
#yotpo-reviews-main-widget .yotpo-bottom-line-question-wrapper-vertical .yotpo-custom-questions-range-question-value{    font-size: 11px;
    font-weight: 400!important;
    line-height: normal;
    margin-block-start: 10px;
    margin-inline-start: 0;}

#yotpo-reviews-main-widget .yotpo-bottom-line-question-wrapper-vertical .yotpo-progress-bar-wrapper:has(.yotpo-progress-bar-value-point) .yotpo-progress-bar .yotpo-progress-bar-score {
    display: none;
}

div#yotpo-reviews-main-widget[class*="yotpo-display-"][class*="yotpo-device-"] .yotpo-layout-header-wrapper .yotpo-bottom-line .yotpo-bottom-line-question-wrapper-vertical .yotpo-custom-questions-range-question.yotpo-review-range-question-top .yotpo-custom-questions-range-question-wrapper span.yotpo-progress-bar-value-point {
    bottom: 28px;
    background-color: var(--color-brand-black) !important;
    border-radius: 50%;
    height: 15px;
    margin-block: auto;
    width: 15px !important;
    position: absolute;
}

div#yotpo-reviews-main-widget[class*="yotpo-display-"][class*="yotpo-device-"] .yotpo-layout-header-wrapper .yotpo-bottom-line .yotpo-bottom-line-question-wrapper-vertical .yotpo-custom-questions-range-question.yotpo-review-range-question-top .yotpo-custom-questions-range-question-wrapper span.yotpo-progress-bar-value-point + span.yotpo-progress-bar-value-label {
    font-weight: 400;
}

@font-face {
font-family:"freight-display-pro";
src:url("https://use.typekit.net/af/b5dc69/000000000000000077359f9c/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/b5dc69/000000000000000077359f9c/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/b5dc69/000000000000000077359f9c/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"freight-display-pro";
src:url("https://use.typekit.net/af/19483f/000000000000000077359f9f/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/19483f/000000000000000077359f9f/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/19483f/000000000000000077359f9f/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"freight-display-pro";
src:url("https://use.typekit.net/af/2c7224/000000000000000077359fa2/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/2c7224/000000000000000077359fa2/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/2c7224/000000000000000077359fa2/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
}

@font-face {
font-family:"freight-display-pro";
src:url("https://use.typekit.net/af/7c67b5/000000000000000077359fa5/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff2"),url("https://use.typekit.net/af/7c67b5/000000000000000077359fa5/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff"),url("https://use.typekit.net/af/7c67b5/000000000000000077359fa5/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:300;font-stretch:normal;
}

@font-face {
    font-display: swap;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: normal;
    src: url('https://cdn.shopify.com/s/files/1/0089/4432/0612/files/apercu_regular-webfont.ttf');
  }

  @font-face {
    font-display: swap;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    src: url('https://cdn.shopify.com/s/files/1/0089/4432/0612/files/apercu_medium-webfont.woff2?v=1724167179') format('woff2'),
      url('https://cdn.shopify.com/s/files/1/0089/4432/0612/files/apercu_medium-webfont.woff?v=1724167179') format('woff'),
      url('https://cdn.shopify.com/s/files/1/0089/4432/0612/files/Apercu_Medium.otf?v=1687469760');
  }

  @font-face {
    font-display: swap;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 700;
    src: url('https://cdn.shopify.com/s/files/1/0089/4432/0612/files/apercu_bold-webfont.woff2?v=1724167179') format('woff2'),
      url('https://cdn.shopify.com/s/files/1/0089/4432/0612/files/apercu_bold-webfont.woff?v=1724167179') format('woff'),
      url('https://cdn.shopify.com/s/files/1/0089/4432/0612/files/Apercu_Bold.otf?v=1687469760');
  }

  @font-face {
    font-display: swap;
    font-family: 'Apercu';
    font-style: italic;
    font-weight: 700;
    src: url('https://cdn.shopify.com/s/files/1/0089/4432/0612/files/apercu_bold_italic-webfont.woff2?v=1724167179') format('woff2'),
      url('https://cdn.shopify.com/s/files/1/0089/4432/0612/files/apercu_bold_italic-webfont.woff?v=1724167179') format('woff'),
      url('https://cdn.shopify.com/s/files/1/0089/4432/0612/files/Apercu_Bold_Italic.otf?v=1687469759');
  }

  @font-face {
    font-display: swap;
    font-family: 'Apercu';
    font-style: italic;
    src: url('https://cdn.shopify.com/s/files/1/0089/4432/0612/files/apercu_italic-webfont.woff2?v=1724167179') format('woff2'),
      url('https://cdn.shopify.com/s/files/1/0089/4432/0612/files/apercu_italic-webfont.woff?v=1724167179') format('woff'),
      url('https://cdn.shopify.com/s/files/1/0089/4432/0612/files/Apercu_Italic.otf?v=1687469759');
  }

  @font-face {
    font-display: swap;
    font-family: 'Apercu';
    font-weight: 300;
    src: url('https://cdn.shopify.com/s/files/1/0089/4432/0612/files/apercu_light-webfont.woff2?v=1724164904') format('woff2'),
      url('https://cdn.shopify.com/s/files/1/0089/4432/0612/files/apercu_light-webfont.woff?v=1724164904') format('woff'),
      url('https://cdn.shopify.com/s/files/1/0089/4432/0612/files/Apercu_Light.otf?v=1687469759') format('otf');
  }

  @font-face {
    font-display: swap;
    font-family: 'Apercu';
    font-weight: 400;
    src: url('https://cdn.shopify.com/s/files/1/0089/4432/0612/files/apercu_regular-webfont.ttf');
  }

  @font-face {
    font-display: swap;
    font-family: 'Apercu';
    font-style: italic;
    font-weight: 300;
    src: url('https://cdn.shopify.com/s/files/1/0089/4432/0612/files/apercu_light_italic-webfont.woff2?v=1724167179') format('woff2'),
      url('https://cdn.shopify.com/s/files/1/0089/4432/0612/files/apercu_light_italic-webfont.woff?v=1724167179') format('woff'),
      url('https://cdn.shopify.com/s/files/1/0089/4432/0612/files/Apercu_Light_Italic.otf?v=1687469759');
  }



.yotpo-reviews-main-widget {
  --primary-font-family: "Apercu", sans-serif !important;
  --primary-font-weight: 700 !important;
  --primary-font-style: normal !important;
  --secondary-font-family: "Apercu", sans-serif !important;
  --secondary-font-weight: 400 !important;
  --secondary-font-style: normal !important;
}


div#yotpo-reviews-main-widget[class*=yotpo-display-][class*=yotpo-device-] .yotpo-layout-header-wrapper .yotpo-bottom-line .yotpo-summary-section {
    position: absolute;
    top: 48px;top: 120px;
}

div#yotpo-reviews-main-widget[class*=yotpo-display-][class*=yotpo-device-] .yotpo-layout-header-wrapper .yotpo-new-review-btn-wrapper button#yotpo-main-widget-btn {
    background: none;
    color: var(--text-color);
    border: none;
    text-decoration: underline;
    width: auto;
    padding: 0;
    min-width: auto;
    font-weight: 400;
}

div#yotpo-reviews-main-widget[class*=yotpo-display-][class*=yotpo-device-] .yotpo-layout-header-wrapper .yotpo-bottom-line .yotpo-star-distribution {
    margin: 30px 0;
    border: 2px solid var(--yotpo-separator-line-grey)!important;
    border-radius:4px;
    max-width: 350px;
    width: 100%;
    justify-content: center;
    padding: 20px 35px;
    box-sizing: border-box;
    row-gap: 8px;
    margin-top: 0;
  margin-bottom: 50px;
}

div#yotpo-reviews-main-widget[class*=yotpo-display-][class*=yotpo-device-] .yotpo-layout-header-wrapper .yotpo-bottom-line .yotpo-star-distribution .yotpo-star-distribution-row-wrapper {
    align-items: center;
}

div#yotpo-reviews-main-widget[class*=yotpo-display-][class*=yotpo-device-] .yotpo-layout-header-wrapper .yotpo-bottom-line .yotpo-star-distribution .yotpo-star-distribution-row-wrapper .yotpo-star-distribution-bar {
    flex-grow: 1;
    margin: 0;
    align-items: center;
    display: flex;
    width: 100%;
}

div#yotpo-reviews-main-widget[class*=yotpo-display-][class*=yotpo-device-] .yotpo-layout-header-wrapper .yotpo-bottom-line .yotpo-star-distribution .yotpo-star-distribution-row-wrapper .yotpo-star-distribution-value {

    height: auto;min-width: 25px;
    padding-left: 10px;
}

div#yotpo-reviews-main-widget[class*=yotpo-display-][class*=yotpo-device-] .yotpo-layout-header-wrapper .yotpo-bottom-line .yotpo-star-distribution .yotpo-star-distribution-row-wrapper .yotpo-star-distribution-bar .yotpo-progress-bar {
    margin: 0;
    width: 100%;
}

div#yotpo-reviews-main-widget[class*=yotpo-display-][class*=yotpo-device-] .yotpo-layout-header-wrapper .yotpo-bottom-line .yotpo-star-distribution .yotpo-star-distribution-row-wrapper svg.yotpo-star-rating-icon.yotpo-sr-star-full {
    display: none;
}

div#yotpo-reviews-main-widget[class*=yotpo-display-][class*=yotpo-device-] .yotpo-layout-header-wrapper .yotpo-bottom-line .yotpo-star-distribution .yotpo-star-distribution-row-wrapper .yotpo-star-distribution-index:after {
    content: " stars";
}

div#yotpo-reviews-main-widget[class*=yotpo-display-][class*=yotpo-device-] .yotpo-layout-header-wrapper .yotpo-bottom-line .yotpo-star-distribution .yotpo-star-distribution-row-wrapper:last-child .yotpo-star-distribution-index:after {
    content: " star";
}

div#yotpo-reviews-main-widget[class*=yotpo-display-][class*=yotpo-device-] .yotpo-layout-header-wrapper .yotpo-bottom-line .yotpo-star-distribution .yotpo-star-distribution-row-wrapper .yotpo-star-distribution-index {width: auto;min-width: 45px;text-align: left;}

div#yotpo-reviews-main-widget[class*=yotpo-display-][class*=yotpo-device-] .yotpo-layout-header-wrapper .yotpo-bottom-line .yotpo-star-distribution .yotpo-star-distribution-row-wrapper .yotpo-star-distribution-index-wrapper {
    width: auto;
}

div#yotpo-reviews-main-widget[class*=yotpo-display-][class*=yotpo-device-] .yotpo-layout-header-wrapper .yotpo-bottom-line .yotpo-star-distribution .yotpo-star-distribution-row-wrapper .yotpo-star-distribution-bar .yotpo-progress-bar {
    height: 15px;
    border-radius: 0;
}

div#yotpo-reviews-main-widget[class*=yotpo-display-][class*=yotpo-device-] .yotpo-layout-header-wrapper .yotpo-bottom-line .yotpo-star-distribution .yotpo-star-distribution-row-wrapper .yotpo-star-distribution-bar .yotpo-progress-bar .yotpo-progress-bar-score {
    height: 15px;
    border-radius: 0;
}


/*# sourceMappingURL=main.css.map */
